@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
body {
  background-color: #2c2c2d;
  height: 100vh;
}
